---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
  <h1>Welcome to our website!</h1>
  <p>
    Thank you for visiting our site. We hope you find what you're looking for.
  </p>
</MainLayout>
