---
import MainLayout from "../layouts/MainLayout.astro";
import { getArtists } from "../utils";

const artists = await getArtists();
---

<MainLayout title="Home">
  <h1>clown-tunes</h1>
  <article>
    {artists.map((artistName) => <a href={`/${artistName}`}>{artistName}</a>)}
  </article>
</MainLayout>
